.loading-graphic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  padding-top: 20vh;
}

.loading-graphic img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.loading-message {
  color: #007CA6;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
}
